version: '3'
services:
  nginx:
    image: nginx:latest
    container_name: nginx01
    ports:
      - "80:80"
    volumes:
      - ..:/src
      - /var/www/upload:/src/upload
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - web
  web:
    build: .
    container_name: djangoIRC
    environment:
    command: ./dev_start.sh #bash -c "python django1/manage.py runserver 0.0.0.0:8000 > django.log 2>&1"
    volumes:
      - ..:/src
    expose:
      - "8000"
    restart: always
  
  forward:
    container_name: forward
    build: .
    environment:
      - gitlabip=${gitlabip}
      - passwd=${passwd}
      - openip=${openip}
      - openport=${openport}
    command: ./docker/forward/dev_start.sh #bash -c "python django1/manage.py runserver 0.0.0.0:8000 > django.log 2>&1"
    volumes:
      - ..:/src
    ports:
      - "8081:8081"
      - "8022:8022"
    restart: always