version: '3'
services:
  jumpserver:
    build: .
    image: jumpserver
    container_name: sshr
    # command: bash -c "service ssh restart && ssh -R 0.0.0.0:2242:localhost:22 txy"
    command: bash -c "service ssh restart && autossh -M 2022 -NR 0.0.0.0:2242:0.0.0.0:22 jump"
    tty: true
    # ports:
    #   - "22:22"
    restart: always
    
